{#{% block content %}#}
<h1>IgBlast Result</h1>


<ul>
    <TABLE id="viewtable">
        <TR>
        <TH>Result Ids</TH>
        <TH>DB_Queried</TH>
        <TH>Query</TH>
        <TH>Length</TH>
        <TH>Summary ID</TH>
        <TH>Junction ID</TH>
        <TH>Alignment ID</TH>
        <TH>Sequence ID</TH>
        </TR>
        {% for res in result_list %}
            <TR><TD><input type="checkbox" name="resid" value = {{ res.result_id }} >{{ res.result_id }}</TD>
            <TD>{{ res.db_queried }}</TD>
            <TD>{{ res.query }}</TD>
            <TD>{{ res.length }}</TD>
            <TD>{{ res.igblast_summary_id }}</TD>
            <TD>{{ res.junction_summary_id }}</TD>
            <TD>{{ res.alignment_summary_id }}</TD>
            <TD>{{ res.sequence_id }}</TD>
                </TR>
        {% endfor %}
    </TABLE>
</ul>


{#<ul>#}
{#    {% for result in result_list %}#}
{#        <li class="result">{{  result }} </li>#}
{#    {% endfor %}#}
{#</ul>#}
{#{% endblock %}#}