<!DOCTYPE html>
{% extends "bs_igdb/dashboard.html" %}

{% block content %}
    <head>
        <h1>Sequences</h1>
        <link href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" rel="stylesheet">
        <link href="http://cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.4/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
        <link href="lib/bootstrap-filterable.css" rel="stylesheet" type="text/css">
    </head>


    <body>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <form id='search' action='/search/sequence' method="get">
                <div class="row">
                    <div class="col-md-4">
                        <input type="text" name="s">
                    </div>
                    <div class="col-md-4">
                        <select id="att" class="selectpicker" name="att" title="Select One">
                            <option id="sequence_name">Sequence Name</option>
                            <option id="sequence">Sequence</option>
                            <option id="sequence_type">Sequence Type</option>
                            <option id="size">Size</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <div class="checkbox-inline">
                                <input type="checkbox" name="check">Regex
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button id="submit" class="btn btn-default" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </ul>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    </body>

    <table class="table table-condensed table-hover" style="table-layout: fixed; word-wrap: break-word;">
        <thead>
        <tr>
            <th class="col-xs-2 text-center"><a href={{ filter_urls.sequence_id }}>Sequence Id</a></th>
            <th class="col-xs-3 text-center"><a href={{ filter_urls.sequence_name }}>Sequence Name</a></th>
            <th class="col-xs-10 text-center"><a href={{ filter_urls.fasta_sequence }}>Sequence</a></th>
            <th class="col-xs-3 text-center"><a href={{ filter_urls.fasta_type }}>Sequence Type</a></th>
            <th class="col-xs-2 text-center"><a href={{ filter_urls.size}}>Size</a></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for seq in sequences %}
                <td class="text-center">{{ seq.sequence_id }}</td>
                <td class="text-center">{{ seq.sequence_name }}</td>
                <td>{{ seq.fasta_sequence }}</td>
                <td class="text-center">{{ seq.fasta_type }}</td>
                <td class="text-center">{{ seq.size }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
    <span class="step-links">
        {% if sequences.has_previous %}
            <a href="?page={{ seq.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ sequences.number }} of {{ sequences.paginator.num_pages }}.
        </span>

        {% if sequences.has_next %}
            <a href="?page={{ sequences.next_page_number }}">next</a>
        {% endif %}
    </span>
    </div>

{% endblock %}
